<div class="m-right-md m-left-md" *ngIf="params">
  <ng-container *ngFor="let lvl of level; let i=index">

    <div class="list-group col-md-3" *ngIf="lvl && level_displayed.indexOf(lvl)>=0" id="list_{{lvl}}">
      <ng-container *ngFor="let data of datas_level[i]; let in=index">

        <div class="row list-group-item" [class.active]="level[i+1] && level[i+1]==data[params.primary_key]" id="item_{{data[params.primary_key]}}"
          (click)="getNextLevel(i+1, data[params.primary_key])">
          <div class="col-md-4" *ngIf="buttons && buttons.length > 0">

            <ng-container *ngFor="let button of buttons">

              <ng-container *ngIf="displayButton(button, data)">

                <ng-container *ngIf="button.navigation && buttons_path[lvl] && buttons_path[lvl].length > 0; else simpleButton">

                  <a [routerLink]="[buttons_path[lvl][in]]" class="{{button.class}}" [innerHTML]="button.text"></a>

                </ng-container>
                <ng-template #simpleButton>

                  <button class="{{button.class}}" (click)="button.action.apply(this.parent_scope,[data])" [innerHTML]="button.text"></button>

                </ng-template>

              </ng-container>

            </ng-container>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="buttons_path[lvl][in]; else simpleTitle">

              <a [routerLink]="[buttons_path[lvl][in]]" class="detail">{{data[name_column]}}</a>

            </ng-container>
            <ng-template #simpleTitle>

              <span>{{data[name_column]}}</span>

            </ng-template>
          </div>
          <div class="col-md-2">

            <ng-template [ngIf]="hasChildren(data[params.primary_key])">

              <span class="fa fa-chevron-right fa-2x pointer">
              </span>

            </ng-template>
          </div>
        </div>

      </ng-container>
    </div>

  </ng-container>
</div>