<div class="m-right-md m-left-md" *ngIf="params">
  <ng-template  ngFor let-lvl [ngForOf]="level" let-i="index" let-next="index+1">

    <div class="list-group col-md-3" *ngIf="lvl && level_displayed.indexOf(lvl)>=0" id="list_{{lvl}}">
        <ng-template ngFor let-data [ngForOf]="datas_level[i]">
            <div class="row list-group-item" [class.active]="level[next] && level[next]==data[params.primary_key]"
                        id="item_{{data[params.primary_key]}}" (click)="getNextLevel(next, data[params.primary_key])">
                <div class="col-md-4" *ngIf="buttons && buttons.length > 0">
                  <ng-template ngFor let-button [ngForOf]="buttons">
                    <button class="{{button.class}}" (click)="button.action.apply(parent_scope,[data])" [innerHTML]="button.text"></button>
                  </ng-template>
                </div>
                <div class="col-md-6">
                    <span>{{data[name_column]}}</span>
                </div>
                <div class="col-md-2">
                    <ng-template [ngIf]="hasChildren(data[params.primary_key])">
                      <span class="fa fa-chevron-right fa-2x">
                      </span>
                    </ng-template>
                </div>
            </div>
        </ng-template>
    </div>
  </ng-template>
</div>

<div *ngIf="checkbox">
    <button class="btn btn-success btn-small pull-right" (click)="checkbox.action_validate.apply(parent_scope)">Enregistrer</button>
</div>
