<table class='table table-striped table-bordered' cellspacing='0' width='100%' #table>
    <thead *ngIf="header">
    <tr>
        <ng-container *ngFor=" let champ of structure">
            <th>{{champ.label}}</th>
        </ng-container>
        <th *ngIf="buttons"></th>
    </tr>
    </thead>
    <tfoot *ngIf="footer">
    <tr>
        <ng-container *ngFor="let champ of structure">
            <th>{{champ.label}}</th>
        </ng-container>
        <th *ngIf="buttons"></th>
    </tr>

    </tfoot>
    <tbody>
    <ng-container *ngFor="let ligne of data" >
        <tr class="dt-body-row" >
            <ng-container *ngFor="let champ of structure">
                <td *ngIf="champ.template" [innerHTML]="champ.template"></td>
                <td *ngIf="champ.inputHTML" [innerHTML]="getValue(ligne, champ.id)"></td>
                <td *ngIf="!champ.template && !champ.inputHTML">{{ getValue(ligne, champ.id)}}</td>
            </ng-container>
            <td *ngIf="buttons">
                <ng-container *ngFor="let button of buttons">
                    <button class="{{button.class}} form-control" (click)="button.action.apply(parent_scope,[ligne])">{{button.text}}</button>
                </ng-container>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
