<table class='table table-striped table-bordered' cellspacing='0' width='100%' #table>
    <thead *ngIf="header">
    <tr>
        <ng-container *ngFor=" let champ of structure">
            <th>{{champ.label}}</th>
        </ng-container>
        <th *ngIf="buttons"></th>
    </tr>
    </thead>
    <tfoot *ngIf="footer">
    <tr>
        <ng-container *ngFor="let champ of structure">
            <th>{{champ.label}}</th>
        </ng-container>
        <th *ngIf="buttons"></th>
    </tr>

    </tfoot>

    <!-- header du tableau avec dragndrop -->
    <tbody *ngIf="dragulaFunctions; else nodrag" [dragula]="dragulabag" [dragulaModel]="data">
      <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </tbody>

    <!-- Sans dragndrop -->
    <ng-template #nodrag>
      <tbody>
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
      </tbody>
    </ng-template>

    <!-- contenu du tableau -->
    <ng-template #contenu>
      <ng-container *ngFor="let ligne of data" >
          <tr class="dt-body-row" fsgfsgs>
              <ng-container *ngFor="let champ of structure">
                  <td *ngIf="champ.template" [innerHTML]="champ.template"></td>
                  <td *ngIf="champ.inputHTML" [innerHTML]="getValue(ligne, champ.id, true)"></td>
                  <td *ngIf="champ.dynamicClass"><dynamic-td [classComponent]="champ.dynamicClass" [data]="ligne" [scope]="parent_scope"></dynamic-td></td>
                  <td *ngIf="!champ.template && !champ.inputHTML && !champ.dynamicClass">{{ getValue(ligne, champ.id)}}</td>
              </ng-container>
              <td *ngIf="buttons">
                <ng-container *ngIf="buttons.dynamicClass; else default_buttons">
                  <dynamic-action [data]="ligne" [scope]="parent_scope" [classComponent]="buttons.dynamicClass"></dynamic-action>
                </ng-container>
                <ng-template #default_buttons>
                  <ng-container *ngFor="let button of buttons">
                    <button class="{{button.class}} form-control" (click)="button.action.apply(parent_scope,[ligne])" [innerHTML]="button.text"></button>
                  </ng-container>
                </ng-template>
              </td>
          </tr>
      </ng-container>
    </ng-template>

</table>
