<div class="m-right-md m-left-md">

    <ul class="list-group">

        <ng-template ngFor let-data [ngForOf]="sorted_datas">
            <li class="row list-group-item deep{{ indents[data[params.primary_key]] }}" [class.hidden]="isHidden(data[params.primary_key])">
                <div class="col-lg-1" *ngIf="checkbox">
                    <input type="checkbox" value="{{data[checkbox.column_value]}}" name="checkbox_{{data[params.primary_key]}}"
                          (click)="checkbox.action_on_change.apply(parent_scope, [data])" [checked]="isChecked(data)" />
                    <span class="custom-checkbox"></span>
                </div>
                <div class="col-lg-11">
                    <ng-template [ngIf]="hasChildren(data[params.primary_key])">
                        <span class="indent-with-children icon glyphicon" [class.glyphicon-minus]="states[data[params.primary_key]] != null && states[data[params.primary_key]].open==true" [class.glyphicon-plus]="states[data[params.primary_key]] != null && states[data[params.primary_key]].open==false"
                            (click)="toggle(data[params.primary_key])">
                        </span>
                    </ng-template>
                    <ng-template [ngIf]="!hasChildren(data[params.primary_key])">
                        <span class="indent"></span>
                    </ng-template>
                    <span>{{data[name_column]}}</span>
                </div>
                <div class="col-lg-1" *ngIf="buttons && buttons.length > 0">
                    <ng-template ngFor let-button [ngForOf]="buttons">
                        <button class="{{button.class}}" (click)="button.action.apply(parent_scope,[data])" [innerHTML]="button.text"></button>
                    </ng-template>
                </div>
            </li>
        </ng-template>
    </ul>
</div>

<div *ngIf="checkbox">
    <button class="btn btn-success btn-small pull-right" (click)="checkbox.action_validate.apply(parent_scope)">Enregistrer</button>
</div>
