#global_search {
    width:80%;
    height: 30px;
    display: inline-block;
}

.custom-input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;

    white-space: nowrap;
    vertical-align: middle;
    height:30px;
    display: inline-block;
    border-left:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.custom-input-group {
    position: relative;
    display: inline-block;
    border-collapse: separate;
    /*width: 50%;*/
}

.form-control-bonus {
    float:left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
