<div class="dropzone" (click)='onClick($event)' (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" [class.hidden]="disabled" >
  <input style="display:none" type="file" name="file" class='inputFileHidden' (change)="inputFileHiddenChange($event)" />
    <div class="adjust">
      <div class="row uploader" *ngIf="!loading">
        <span class="col-lg-2 fa fa-cloud-download fa-4x"></span>
        <h4 _ngcontent-tho-15="" class="col-lg-10"> Deposez ici vos fichiers  (Image, Texte, Word, Pdf...)</h4>
      </div>
      <!-- <span *ngIf="!loading" class="fa fa-cloud-download fa-5x"></span> -->
       <div *ngIf="loading" class="loader"></div>
    </div>
</div>

<div *ngIf='progressions.length>0'>
  <h5>Fichiers uploadés : </h5>
  <ul class="list-group">
    <li *ngFor="let progression of progressions" class="row list-group-item">
      <span [class.col-md-6]="!progression.error" [class.col-md-5]="progression.error">{{progression.name}}</span>
      <progress-bar [datas]="{
          value : progression.progress,
          min_value : 0,
          max_value : 100
      }" [class]="'progress-bar-striped'" class="col-md-6" *ngIf="!progression.error"></progress-bar>
      <span class="pull-right fa fa-times sc-adjsut" (click)="removeFile(progression)" *ngIf="progression.error"></span>
      <span class="label label-danger pull-right col-md-6 sc-adjsut" *ngIf="progression.error">{{progression.error}}</span>
    </li>
  </ul>
</div>
